replicaCount: 1
applicationName: tailwindtraders

image:
  repository: tailwindtradersacr.azurecr.io/coupon.api
  tag: prod
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

env:
  configmap:
    - name: ApplicationInsights__InstrumentationKey
    - name: CONNECTIONSTRING
    - name: COUPON_COLLECTION
    - name: URL_BASE
  values:
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
