{{- $name := include "infrastructure.fullname" . -}}
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: "{{ $name }}-azurite"
  labels:
    app: {{ template "infrastructure.name" . }}
    chart: {{ template "infrastructure.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "infrastructure.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "infrastructure.name" . }}
        release: {{ .Release.Name }}
        component: azurite
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.azurite.repository }}:{{ .Values.image.azurite.tag }}"
          imagePullPolicy: {{ .Values.image.sql.pullPolicy }}
          env:
          - name: executable
            value: blob
          ports:
            - name: http
              containerPort: 10000
              protocol: TCP
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
